/* css */
@import url("//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("swiper.min.css");


/* 아래 스타일 이동 필욜함 */
.tit-18{font-size:18px;}
.c-point{color:#EF3E93;}
.c-dark{color:#222;}
.c-gray{color:#444;}

.dflex{display:flex;}
.btn.w120{width: 120px; }
.btn.w-auto{width: auto; padding: 12px 15px;}

/*input checkbox 커스텀 */
input[type="checkbox"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
} 
input[type="checkbox"] + label { 
	display: inline-block; 
	position: relative; 
	padding-left: 34px; /* 글자와 체크박스 사이의 간격을 변경 */ 
	cursor: pointer; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
} 
input[type="checkbox"] + label:before { /* 가짜 체크박스 */ 
	content: ''; 
	position: absolute; 
	left: 0; 
	top: 0; /* 이 값을 변경해서 글자와의 정렬 */ 
	width: 24px; /* 체크박스의 너비를 지정 */ 
	height: 24px; /* 체크박스의 높이를 지정 */ 
	line-height: 24px; /* 세로정렬을 위해 높이값과 일치 */ 
	text-align: center; 
	background: #fff; 
	border: 2px solid #D9D9D9; 
	border-radius : 3px; 
	box-shadow: none; 
} 
input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */ 
	content: ''; 
	color: #fff; 
	border-color: #222; 
	box-shadow: none; 
	background:#222 url('../../images/common/ico-chk.svg') center no-repeat;
}